html {
    font-size: 50px;
}

body {
    margin: 0;
    font: 1.6rem/2rem sans-serif;
    display: flex;
    padding-top: 15%;
}

div {
    margin: auto;
    position: relative;
    padding: 75px 75px;
}

div::before {
    content: '';
    position: absolute;
    border-bottom: 5px solid #cbcbcb;
    border-top: 5px solid #cbcbcb;
    right: -100px;
    bottom: -5px;
    left: -100px;
    top: -5px;
}

div::after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: -5px;
    top: -100px;
    right: -5px;
    border-left: 5px solid #cbcbcb;
    border-right: 5px solid #cbcbcb;
    /* transform: rotate(90deg); */
}